{% extends "base.html" %}
{% load static %}
{% load todo_extras %}


{% block title %}Список задач{% endblock %}

{% block header %}

<div class="container-fluid">
    <div class="row pt-5 mb-4">
        <div class="col-12 text-primary text-center">
        <h1><b>Список задач</b></h1>
        </div>
    </div>
</div>

{% endblock header %}

{% block main %}



<div class="container mb-3">
    {% comment %} {{ False|yesno:"yeah,no,maybe" }}
    <br/><br/><br/> {% endcomment %}
    <small>{{ todo_items}}</small>
    <br/>
    Список 1
    {{ unchecked }}
    <br/>
    Список 2
    {{ checked }}
    <br/>
    {% if not unchecked %}
        No unchecked
    {% endif %}
    <br/>
    {% if not checked %}
        No checked
    {% endif %}



   


                        
                                
                            
                           
                            



    

{% endblock main %}