{% extends 'base.html' %}

{% block main %}

<div class="container-fluid">
    <div class="row pt-5 mb-4">
        <div class="col-12 text-primary text-center">
            <h1><b>{{ title }}</b></h1>
        </div>
    </div>
    <div class="row pt-2 mb-4">
            <div class="col-12 text-center">
                <a href="http://127.0.0.1:8000/app/do/">Приложение To Do List</a>
                <br/>
                <a href="http://127.0.0.1:8000/app/news/">Приложение News</a>
            </div>
    </div>
</div>
    

{% endblock main %}


